.event-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .list-of-events {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .event-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .event-address {
    font-size: 16px;
  }

  .events-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }
  
  .address {
    font-size: 1.5rem;
    text-align: center;
  }

  .evt-card {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
  }
  
  .register-button {
    background: linear-gradient(to right, #87cefa, #8a2be2);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .register-button:hover {
    transform: scale(1.1);
  }

  .container {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
  }
  
  .label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .input,
  .textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }
  
  .input:focus,
  .textarea:focus {
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }
  
  .button {
    padding: 10px 20px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #303f9f;
    transform: translateY(-2px);
  }
  
  .createEvt {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    background: linear-gradient(to bottom right, #3f2b96, #a8c0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bck {
    background-color: #1a1c20;
  }


  /* Form styles */
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    background-color: #3e8e41;
  }
  
  

  @media screen and (min-width: 768px) {
    .events-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .event-card:hover {
    transform: translateY(-5px);
  }

  
  .event-card:hover {
    transform: translateY(-5px);
  }